<table class="table sortable" id='listing_taxonomies' data-hook data-sortable-link="<%= update_positions_admin_taxonomies_url %>">
  <thead>
  <tr data-hook="taxonomies_header">
    <th class="no-border"></th>
    <th><%= t(:name) %></th>
    <th><%= t(:meta_title) %></th>
    <th><%= t(:meta_description) %></th>
    <th><%= t(:meta_key) %></th>
    <th class="actions"></th>
  </tr>
  </thead>
  <tbody>
  <% @taxonomies.each do |taxonomy| %>
      <tr id="<%= spree_dom_id taxonomy %>" data-hook="taxonomies_row">
        <td class="move-handle">
          <span class="icon icon-sort handle"></span>
        </td>
        <td><%= taxonomy.name %></td>
        <td><%= taxonomy.meta_title %></td>
        <td><%= taxonomy.meta_description %></td>
        <td><%= taxonomy.meta_key %></td>
        <td class="actions actions-2 text-right">
          <%= link_to_edit taxonomy.id, no_text: true %>
          <%= link_to_delete taxonomy, no_text: true %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
