<%#= render partial: 'js_head' %>

<% content_for :page_title do %>
    <%= link_to t(:taxonomies), admin_taxonomies_url %> /
    <%= @taxonomy.name %>
<% end %>

<div id="ajax_error" class="errorExplanation" style="display:none;"></div>

<% content_for :page_actions do %>
    <%= button_link_to t(:new_taxon), new_admin_taxonomy_taxon_path(@taxonomy), class: "btn-success", icon: 'add', id: 'admin_new_taxonomy_link' %>
<% end %>

<%= form_for [:admin, @taxonomy] do |f| %>
    <fieldset>
      <%= render partial: 'form', locals: {f: f} %>

      <div class="form-actions">
        <%= button t('actions.update'), 'ok', 'submit', {class: 'btn-success'} %>
        <span class="or"><%= t(:or) %></span>
        <%= button_link_to t('actions.cancel'), admin_taxonomies_path, icon: 'delete' %>
      </div>
    </fieldset>
<% end %>

<h3> <%= t(:taxon) %> Lists </h3>

<%= render 'admin/taxons/taxon_table', taxons: @taxonomy.top_taxon %>