<%= render partial: 'js_head' %>

<% content_for :page_title do %>
    <%= link_to t(:taxonomies), admin_taxonomies_url %> /
    <%= @taxonomy.name %>
<% end %>

<div id="ajax_error" class="errorExplanation" style="display:none;"></div>

<%= form_for [:admin, @taxonomy] do |f| %>
    <fieldset>
      <%= render partial: 'form', locals: {f: f} %>
      <div class="form-group">
        <%= label_tag nil, t(:tree) %>
        <script>
            taxonomy_taxons_path = "<%= root_path(@taxonomy) %>";
            admin_taxonomy_taxons_path = "<%= admin_taxonomy_taxons_path(@taxonomy) %>";
            jstree_theme_path = "<%= stylesheet_path("jquery.jstree/themes/spree/style.css") %>";
        </script>
        <div id="taxonomy_tree" class="tree">
          <div class="alert alert-warning">
            <%= t(:loading_tree) %>
          </div>
        </div>
      </div>

      <div class="alert alert-info">
        <%= t(:taxonomy_tree_instruction) %>
      </div>

      <div class="form-actions">
        <%= button t('actions.update'), 'ok', 'submit', {class: 'btn-success'} %>
        <span class="or"><%= t(:or) %></span>
        <%= button_link_to t('actions.cancel'), admin_taxonomies_path, icon: 'delete' %>
      </div>
    </fieldset>
<% end %>
