<header class="site-header header-default" role="banner">
  <div class="topbar-mobile hidden-lg hidden-md">
    <div class="active-mobile pull-left">
      <button data-toggle="offcanvas" class="btn-mobile-toggle btn-offcanvas btn-toggle-canvas offcanvas" type="button">
        <i class="fa fa-bars"></i>
      </button>
    </div>
    <div class="topbar-inner pull-left">
      <div class="active-mobile search-popup pull-left">
        <span class="fa fa-search"></span>

        <div class="active-content">
          <form method="get" class="input-group search-category">
            <input name="s" maxlength="60" class="form-control search-category-input" type="text" size="20" placeholder="Search Products">

            <div class="input-group-btn">
              <label class="btn btn-link btn-search">
                <span class="title-search hidden">Search</span>
                <input type="submit" class="fa searchsubmit" value="">
              </label>
              <input type="hidden" name="post_type" value="product">
            </div>
          </form>
        </div>
      </div>

      <div class="active-mobile setting-popup pull-left">
        <span class="fa fa-user"></span>


      </div>

      <div class="active-mobile pull-left cart-popup">
        <span class="fa fa-shopping-cart"></span>

        <div class="active-content">
          <div class="widget_shopping_cart_content">
            <div class="cart_list ">
              <div class="empty"><%= t(:no_product_on_cart) %></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


  <section class="header-main clearfix container">
    <div class="container-fuild">
      <div class="row">
        <section class="respon-menu main-menu no-sticky">
          <div class="col-lg-6 col-md-8 col-xs-12">
            <div id="syftet-mainmenu" class="syftet-mainmenu">
              <div class="inner navbar-mega-simple">
                <nav data-duration="400" class="hidden-xs hidden-sm slide animate navbar navbar-mega reset-margin" role="navigation">

                  <div class="collapse navbar-collapse navbar-mega-collapse nopadding">
                    <ul id="primary-menu" class="nav navbar-nav megamenu">
                      <li class="menu-item">
                        <%= link_to root_path do %>
                            <i class="fa fa-home"></i> <%= t(:home) %>
                        <% end %>
                      </li>

                      <li class="menu-item">
                        <a href="<%= promotion_products_path('discount') %>">
                          <%= t(:discount) %>
                          <span class="bubble-text-label label-hot"><%= t(:hot) %></span>
                        </a>
                      </li>

                      <li class="menu-item">
                        <a href="<%= products_path %>">
                          <%= t(:products) %>
                        </a>
                      </li>

                      <li class="menu-item">
                        <a href="<%= promotion_products_path('new') %>">
                          <%= t(:new_arrival) %>
                          <span class="bubble-text-label label-new"><%= t(:new) %></span>
                        </a>
                      </li>

                      <li class="dropdown custom-dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                          <%= t(:page) %>
                          <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu custom-drp-content">
                          <li>
                            <%= link_to t(:about_us), about_us_path %>
                          </li>
                          <li>
                            <%= link_to 'Customer Support', new_contact_path %>
                          </li>
                          <li>
                            <%= link_to 'Frequent Ask Question', faq_path %>
                          </li>
                          <li>
                            <%= link_to 'Secure Shopping', secure_shopping_path %>
                          </li>
                          <li>
                            <a href="/blog">
                              Our <%= t(:blog) %>
                            </a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </nav>
              </div>
            </div>
          </div>


          <div class="respon-logo col-md-1 col-lg-1 col-xs-12">
            <div id="opal-logo" class="logo logo-theme">
              <a href="http://venusdemo.com/wordpress/pi/">
                <img src="http://venusdemo.com/wordpress/pi/wp-content/themes/pi/images/logo.png" alt="Pi Store">
              </a>
            </div>
          </div>

          <div class="respon-link col-lg-5 col-md-3 col-xs-12 hidden-xs hidden-sm">
            <div class="header-right clearfix">
              <div class="opal-topcart pull-right">
                <div id="cart" class="custom-cart dropdown version-1 box-top">

                  <%= link_to '#', class: 'dropdown-toggle mini-cart box-wrap', 'data-toggle' => 'dropdown', 'aria-expandedx' => 'true' do %>
                      <span class="icon-basket icons">
                      <i class="fa fa-shopping-cart"></i>
                      <span class="mini-cart-items"><%= line_item_count %></span>
                      <span class="price-amount amount mini-cart-total">
                         <%= amount_with_currency(current_order.amount) if current_order %>
                      </span>
                    </span>
                  <% end %>
                  <div class="dropdown-menu custom-dropdown-content" id="shopping-cart-doopdown">
                    <%= render 'shared/cart_items' %>
                  </div>

                </div>
              </div>

              <%= link_to wishlists_path, class: 'syftet-btn-wishlist pull-right' do %>
                  <i class="fa fa-heart-o" aria-hidden="true"></i>
              <% end %>

              <div id="search-container" class="search-box-wrapper pull-right">
                <div class="opal-dropdow-search dropdown">
                  <a data-target=".bs-search-modal-lg" data-toggle="modal" class="search-focus btn dropdown-toggle dropdown-toggle-overlay">
                    <i class="fa fa-search"></i>
                  </a>

                  <%= render 'shared/search_modal' %>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>
</header>

<div id="syftet-off-canvas" class="opal-off-canvas sidebar-offcanvas hidden-lg hidden-md">
  <div class="opal-off-canvas-body">
    <div class="offcanvas-head bg-primary">
      <button type="button" class="btn btn-offcanvas btn-toggle-canvas btn-default" data-toggle="offcanvas">
        <i class="fa fa-close"></i>
      </button>
      <span>Menu</span>
    </div>
    <nav class="navbar navbar-offcanvas navbar-static" role="navigation">
      <div class="navbar-collapse navbar-offcanvas-collapse">
        <ul id="main-menu-offcanvas" class="nav navbar-nav">
          <li class="menu-item">
            <%= link_to root_path do %>
                <i class="fa fa-home"></i> <%= t(:home) %>
            <% end %>
          </li>

          <li class="menu-item">
            <a href="#">
              <%= t(:discount) %>
            </a>
          </li>

          <li class="menu-item">
            <a href="#">
              <%= t(:products) %>
            </a>
          </li>

          <li class="menu-item">
            <a href="#">
              <%= t(:new_arrival) %>
            </a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t(:page) %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="#" class="dropdown-toggle">
                  <%= t(:about_us) %>
                </a>
              </li>
              <li>
                <a href="<%= new_contact_path %>" class="dropdown-toggle">
                  <%= t(:contact_us) %>
                </a>
              </li>
              <li>
                <a href="#">
                  <%= t(:blog) %>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>


  </div>
</div>

<script type="text/javascript">
    $(function () {
        $('.btn-toggle-canvas').click(function () {
            $('#page').find('.syftet-page-inner').toggleClass('active');
        });

        //Cart Dropdown
//        $(".dropdown-toggle").dropdown();
    });
</script>