<aside class="widget clearfix">
  <div class="widget widget-off">
    <h3 class="widget-title">
      <%= t(:search_catalog) %>
    </h3>

    <div class="widget-filter-wrapper">
      <div class="woof_redraw_zone">
        <div class="price-slider">
          <input class="range-slider hidden" value=''>
        </div>

        <div class="container-inner-filter">
          <h4>Color</h4>

          <div class="widget-block-html-items color-section clearfix">
            <ul class="color-section-ul-style">
              <% color_filters(@taxon).each do |color| %>
                  <li>
                    <%= radio_button_tag :color, color %>
                    <label for="color_<%= color %>">
                      <span style="background:#<%= color %>"></span>
                    </label>
                    <a href="javascript:void(0);" style="display: none;" class="clear-color-filter">
                      <i class="fa fa-times-circle"></i>
                    </a>
                  </li>
              <% end %>
            </ul>
          </div>
        </div>

        <div data-css-class="woof_container_pa_size" class="woof_container woof_container_checkbox woof_container_pa_size woof_container_2 woof_container_size">
          <div class="woof_container_overlay_item"></div>
          <div class="woof_container_inner woof_container_inner_size">
            <h4>Size</h4>

            <div class="widget-block-html-items">
              <ul class="widget-list-checkbox">
                <li>
                  <input type="checkbox" id="woof_49_59d335a7e473d" class="woof_checkbox_term woof_checkbox_term_49" data-tax="pa_size" name="l" data-term-id="49" value="49"><label class="woof_checkbox_label " for="woof_49_59d335a7e473d">L<span class="woof_checkbox_count">(3)</span></label>
                  <input type="hidden" value="L" data-anchor="woof_n_pa_size_l">

                </li>
                <li>
                  <input type="checkbox" id="woof_48_59d335a7e479b" class="woof_checkbox_term woof_checkbox_term_48" data-tax="pa_size" name="m" data-term-id="48" value="48"><label class="woof_checkbox_label " for="woof_48_59d335a7e479b">M<span class="woof_checkbox_count">(4)</span></label>
                  <input type="hidden" value="M" data-anchor="woof_n_pa_size_m">

                </li>
                <li>
                  <input type="checkbox" id="woof_47_59d335a7e47f4" class="woof_checkbox_term woof_checkbox_term_47" data-tax="pa_size" name="s" data-term-id="47" value="47"><label class="woof_checkbox_label " for="woof_47_59d335a7e47f4">S<span class="woof_checkbox_count">(4)</span></label>
                  <input type="hidden" value="S" data-anchor="woof_n_pa_size_s">

                </li>
                <li>
                  <input type="checkbox" id="woof_50_59d335a7e485c" class="woof_checkbox_term woof_checkbox_term_50" data-tax="pa_size" name="xl" data-term-id="50" value="50"><label class="woof_checkbox_label " for="woof_50_59d335a7e485c">XL<span class="woof_checkbox_count">(3)</span></label>
                  <input type="hidden" value="XL" data-anchor="woof_n_pa_size_xl">

                </li>
                <li>
                  <input type="checkbox" id="woof_51_59d335a7e48cd" class="woof_checkbox_term woof_checkbox_term_51" data-tax="pa_size" name="xxl" data-term-id="51" value="51"><label class="woof_checkbox_label " for="woof_51_59d335a7e48cd">XXL<span class="woof_checkbox_count">(3)</span></label>
                  <input type="hidden" value="XXL" data-anchor="woof_n_pa_size_xxl">

                </li>
              </ul>
            </div>

            <input type="hidden" name="woof_t_pa_size" value="Product Size"><!-- for red button search nav panel -->

          </div>
        </div>
        <div class="woof_submit_search_form_container">
          <a style="float: right;" href="<%= @taxon.present? ? categories_path(@taxon) : products_path %>" class="btn btn-warning reset-border-radius" data-link="">Reset</a>
        </div>
      </div>
    </div>
  </div>
</aside>

<script type="text/javascript">
    $(function () {
        data_query = $.query;
        $(".range-slider").ionRangeSlider({
            type: "double",
            grid: true,
            min: 0,
            max: 1000,
            from: <%= params[:min] || 0 %>,
            to: <%= params[:max] || 1000 %>,
            prefix: "$",
            onFinish: function (data) {
                new_url = data_query.SET('min', data.from).SET('max', data.to);
                loadProducts(new_url);
            }
        });

        $('.color-section-ul-style label').click(function () {
            color = $(this).parent().find("input[type='radio']").val();
            if (typeof color != undefined) {
                new_url = data_query.SET('color', color);
                loadProducts(new_url);
            }
        });

        $('.clear-color-filter').click(function () {
            $('.color-section-ul-style').find("input[type='radio']").prop('checked', false);
            new_url = data_query.REMOVE('color');
            loadProducts(new_url);
        });
    });

    function loadProducts(url) {
        $.ajax({
            url: url,
            type: 'get',
            dataType: 'script',
            error: function (e) {
                console.log(e);
                popupMessage('Unable to load product!', 'alert alert-error');
            },
            success: function () {
                window.history.pushState('', 'Products', url);
            }
        })
    }
</script>