<%= render :partial => 'admin/shared/error_messages', :locals => {:target => @variant} %>

<%= form_for [:admin, @product, @variant] do |f| %>
    <div class="well">
      <fieldset data-hook="admin_variant_new_form">
        <legend><%= t(:new_variant) %></legend>
        <%= render :partial => 'form', :locals => {:f => f} %>
        <%= render :partial => 'admin/shared/new_resource_links' %>
      </fieldset>
    </div>
<% end %>
