<%= render partial: 'admin/shared/error_messages', locals: { target: @property } %>

<% content_for :page_title do %>
  <%= link_to t(:properties), admin_properties_url %> /
  <%= t(:new_property) %>
<% end %>

<%= form_for [:admin, @property] do |f| %>
  <fieldset data-hook="new_property">
    <%= render partial: 'form', locals: { f: f } %>
    <div class="form-actions">
      <%= render partial: 'admin/shared/new_resource_links' %>
    </div>
  </fieldset>
<% end %>
